@import "tailwindcss";
@plugin "daisyui";
/* @import "tailwindcss";
@plugin "daisyui"; */

@import "tailwindcss";
@plugin "daisyui";

/* LIGHT THEME */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #632EE3;
  --color-secondary: #9F62F2;
}

/* DARK THEME */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #8B5CF6;
  --color-secondary: #A78BFA;
  --base-100: #0F172A;
  --base-content: #F8FAFC;
}

.btn-primary {
  background: linear-gradient(90deg, #632EE3, #9F62F2);
  color: white;
  border: none;
}

.btn-primary:hover {
  background-position: right center;
  transform: translateY(-2px);
  background: linear-gradient(90deg, #e6005c, #d94a2f);
}


.diplomata {
  font-family: "Diplomata", serif;
}


body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;

}